<ul class="tests" [ngClass]="{'video' : type === 'video-yt'}">
    <li class="item" *ngFor="let test of tests">
        <article class="test" *ngIf="test.type === 'text'">
            <figure class="image">
                <img [src]="test.image" [alt]="test.name">
            </figure>
            <div class="content">
                <h3 class="test-name">
                    <a [href]="test.link" [title]="test.name" target="_blank">
                        {{ test.name }}
                    </a>
                </h3>
                <p class="test-desc">
                    {{ test.description }}
                </p>
                <a [href]="test.link" [title]="test.name" target="_blank" class="test-link">
                    przejdź do recenzji
                </a>
            </div>
        </article>

        <article class="video-test" *ngIf="test.type === 'video-yt'">
            <figure class="image">
                <img [src]="test.image" [alt]="test.name">
                <a [href]="test.link" [title]="test.name" target="_blank" class="link">
                    przejdź do testu
                </a>
            </figure>
            <div class="content">
                <h3 class="name">
                    <a [href]="test.link" [title]="test.name" target="_blank">
                        {{ test.name }}
                    </a>
                </h3>

            </div>
        </article>
    </li>
</ul>

<div class="alert alert-warning" *ngIf="tests.length === 0">
    Nie znaleziono żadnej recenzji/testu.
</div>
