<ul class="tests">
  <li class="item" *ngFor="let test of tests">
    <article class="test">
      <figure class="image">
        <a [href]="test.link" [title]="test.name" target="_blank">
          <img [src]="test.image" [alt]="test.name" />
          <span class="type">
            <mat-icon *ngIf="test.type == 'video-yt'"
              >play_circle_outline</mat-icon
            >
            <mat-icon *ngIf="test.type == 'text'">short_text</mat-icon>
          </span>
        </a>
      </figure>
      <div class="content">
        <h3 class="test-name">
          <a [href]="test.link" [title]="test.name" target="_blank">
            {{ test.name }}
          </a>
        </h3>
        <p class="test-desc">{{ test.description }}</p>
        <a [href]="test.link" [title]="test.name" target="_blank" class="link">
          przejdź do recenzji
        </a>
      </div>
    </article>
  </li>
</ul>

<div class="alert alert-warning" *ngIf="tests.length === 0">
  Nie znaleziono żadnych testów
</div>
