.tests {
  max-width: 800px;
  margin: 0 auto;
}
@import '../../shared/styles/mixins';
.title {
  font: 900 20px/1.6 var(--fontPrimary);
  padding: 0 0 30px;
  margin: 0;
  color: var(--textColor);
  @include breakpoint(tablet_small) {
    font: 900 28px/1.6 var(--fontPrimary);
  }
}
.test {
  margin: 0 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 0;
  border-radius: 4px;
  @include breakpoint(tablet_small) {
    display: flex;
    align-items: center;
  }
  .image {
    margin-bottom: 15px;
    @include breakpoint(tablet_small) {
      width: 200px;
      margin-bottom: 0;
    }
    position: relative;
    img {
      border-radius: 3px;
    }
  }
  .content {
    flex: 1;
    padding: 0;
    position: relative;
    @include breakpoint(tablet_small) {
      padding: 0 20px;

    }
  }
  .test-name {
    font: 600 15px/1.6 var(--fontPrimary);
    margin: 0 0 10px;
    @include breakpoint(tablet_small) {
      font: 700 18px/1.6 var(--fontPrimary);

    }
    a {
      color: var(--textColor);
    }
  }
  .test-desc {
    font: 300 12px/1.6 var(--fontPrimary);
    height: 90px;
    overflow: hidden;
    position: relative;
    opacity: 0.7;
    @include breakpoint(tablet_small) {
      font: 300 14px/1.6 var(--fontPrimary);
      height: 110px;

    }
    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      right: 0;
      left: 0;
      height: 75px;
      background: linear-gradient(
                      to bottom,
                      rgba(26, 26, 26, 0) 0%,
                      var(--backgroundColor) 80%
      );
    }
  }
  .link {
    letter-spacing: 1px;
    font: 700 12px/30px var(--fontPrimary);
    text-transform: uppercase;
    color: var(--textColor);
    background: var(--colorPrimary);
    text-align: center;
    padding: 0 15px;
    display: block;
    @include breakpoint(tablet_small) {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
    }
  }
  .type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--backgroundDarkenColor);
    width: 40px;
    height: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    .material-icons {
      line-height: 40px;
    }
  }
}

