<section class="products">
  <h1 class="title">Nowe testy</h1>
  <ul class="list">
    <li class="item" *ngFor="let test of tests">
      <a [href]="test.link" target="_blank">
        <article class="product">
          <figure class="cover" *ngIf="test.image">
            <img [src]="test.image" [alt]="test.name" />
            <span class="type" *ngIf="test.type == 'text'">Recenzja</span>
            <span class="type" *ngIf="test.type == 'video-yt'">Video test</span>
          </figure>
          <h2 class="name">{{ test.name }}</h2>
        </article>
      </a>
    </li>
  </ul>
</section>
