.categories-page {
  .category-name {
    font: 500 15px/2 var(--fontPrimary);
  }
  .category-parent {
    font: 300 13px/2 var(--fontPrimary);
  }
  .category-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
