.producer {
  background: var(--colorPrimary);
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
  }
  .meta {
    display: flex;
    align-items: center;
    padding: 25px 0 0 0;
  }
  .icon {
    width: 100px;
    margin: 0 25px 0 0;
    align-self: flex-end;
    background: #fff;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    height: 100px;
    img {
      display: block;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
    }
  }
  .image {
    width: 45%;
    align-self: flex-end;
    img {
      display: block;
    }
  }
  .name {
    font: 900 40px/1.6 var(--fontPrimary);
    color: #fff;
    flex: 1;
  }
}
