.login {
  background: var(--colorPrimary);
  padding: 40px 0;
  min-height: calc(100vh - 75px);

  .container {
    max-width: 320px;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
    padding: 30px;
  }
  .login-field {
    width: 100%;
    .field {
      width: 100%;
    }
  }
  .title {
    font: 900 28px/1.6 var(--fontPrimary);
    color: var(--textColor);
    padding: 0 0 30px;
    text-align: center;
  }
  .login-button {
    background: var(--colorPrimary);
    color: #fff;
    display: block;
    padding: 0;
    text-align: center;
    font: 400 15px/45px var(--fontPrimary);
    border: 0;
    border-radius: 3px;
    width: 100%;
  }
}
