<mat-toolbar color="primary" class="navbar">
  <div class="wrapper">
    <a class="logo" routerLink="/admin">Admin</a>
    <a class="link" routerLink="/admin/channels">Kanały</a>
    <a class="link" routerLink="/admin/categories">Kategorie</a>
    <a class="link" routerLink="/admin/attributes">Atrybuty</a>
    <a class="link" routerLink="/admin/producers">Producenci</a>
    <a class="link" routerLink="/admin/products">Produkty</a>
    <a class="link" routerLink="/admin/tests">Testy</a>
    <button mat-icon-button [matMenuTriggerFor]="adddropdown">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #adddropdown="matMenu">
      <button mat-menu-item routerLink="/admin/add-channel">
        <span>Kanał</span>
      </button>
      <button mat-menu-item routerLink="/admin/add-product">
        <span>Produkt</span>
      </button>
      <button mat-menu-item routerLink="admin/add-test">
        <span>Test</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
