<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="title">Idea ...</h2>
        <p class="content">
          Ideą ... jest zbudowanie bazy testów i recenzji różnej maści sprzętu i
          pojazów, od smartfonów, tabletów, przez pojazdy elektryczne, a na
          samochodach kończąc.<br />
          Zdajemy sobie sprawę, że przed zakupem chciałbyś znaleźć jak najwięcej
          informacji na temat porządanego przedmiotu i chcemy pomóc znaleźć Ci
          warte uwagi testy i recenzje, które pomogą w podjęciu decyzji o
          kupnie.
        </p>
      </div>
      <div class="col-sm-4">
        <h2 class="title">Dla autorów</h2>
        <p class="content"></p>
      </div>
      <div class="col-sm-4">
        <h2 class="title">Przydatne linki</h2>
        <ul class="links">
          <li><a href="#">Polityka prywatności</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cookies-info">
    <div class="container">
      <p class="content">
        Nasza strona internetowa używa plików cookies (tzw. ciasteczka) w celach
        statystycznych, reklamowych oraz funkcjonalnych. Dzięki nim możemy
        indywidualnie dostosować stronę do twoich potrzeb. Każdy może
        zaakceptować pliki cookies albo ma możliwość wyłączenia ich w
        przeglądarce, dzięki czemu nie będą zbierane żadne informacje.
        <a href="https://cookiesandyou.com/" target="_blank" rel="nofollow">Więcej o ciasteczkach</a>
      </p>
    </div>
  </div>
</footer>
