@import '../../shared/styles/mixins';
.homepage {
  .new-items {
    max-width: 1440px;
    margin: 0 auto 30px;
    padding: 0 10px;
    @include breakpoint(tablet_big) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
    }
    @include breakpoint(desktop_big) {
      grid-column-gap: 60px;
      padding: 0;
    }
  }
}
