<section class="categories">
  <div class="container">
    <div class="header">
      <h1 class="title">Lista kategorii</h1>
      <div class="search">
        <mat-form-field class="field" appearance="outline">
          <mat-label>Wyszukaj kategorię</mat-label>
          <input
                  matInput
                  [(ngModel)]="categoriesName"
                  type="email"
                  (keyup)="searchCategories()"
                  class="input"
          />
        </mat-form-field>
      </div>
    </div>
    <ul class="list">
      <li class="item" *ngFor="let category of filterCategories">
        <article class="category">
          <figure class="cover">
            <img [src]="category.image" [alt]="category.name" />
          </figure>
          <h2 class="name">
            <a [routerLink]="['/category', category._id]">{{ category.name }}</a>
          </h2>
        </article>
      </li>
    </ul>
    <div class="alert alert-warning" *ngIf="filterCategories.length === 0">
      Nie znaleziono żadnej kategorii
    </div>
  </div>
</section>
