<section class="products">
  <h1 class="title">Nowe produkty</h1>
  <ul class="list">
    <li class="item" *ngFor="let product of products" [routerLink]="'/product/' + product._id">
      <article class="product">
        <figure class="cover" *ngIf="product.image">
          <img [src]="product.image" />
        </figure>
        <h2 class="name">{{ product.name }}</h2>
        <p class="tests-count">
          {{ product['count'] }} testów
        </p>
      </article>
    </li>
  </ul>
</section>
