<section class="products">
  <div class="header">
    <h1 class="title">Produkty</h1>
    <div class="search">
      <mat-form-field class="field" appearance="outline">
        <mat-label>Wyszukaj produkt</mat-label>
        <input
                matInput
                [(ngModel)]="productName"
                type="email"
                (keyup)="search()"
        />
      </mat-form-field>
    </div>
  </div>

  <ul class="list">
    <li class="item" *ngFor="let product of filterProducts">
      <app-product-item [product]="product"></app-product-item>
    </li>
  </ul>
  <div class="alert alert-warning" *ngIf="filterProducts.length === 0 && !productName">
    Brak produktów w wybranej kategorii
  </div>
  <div class="alert alert-danger" *ngIf="filterProducts.length === 0 && productName">
    Nie znaleziono żadnych produktów
  </div>
</section>
