<div class="admin-wrapper">
  <app-admin-header></app-admin-header>
<div class="admin-page-wrapper">
  <h3 class="admin-page-title">Dodaj/Edytuj produkt</h3>
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <form class="admin-page-form" [formGroup]="productForm" (submit)="add()">
        <div class="admin-page-form-field">
          <mat-form-field class="field" appearance="outline">
            <mat-label>Nazwa produktu</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
        <div class="admin-page-form-field">
          <mat-form-field class="field" appearance="outline">
            <mat-label>Opis produktu</mat-label>
            <textarea
              matInput
              formControlName="description"
              rows="6"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="admin-page-form-field">
          <mat-form-field class="field" appearance="outline">
            <mat-label>Zdjęcie (url)</mat-label>
            <input matInput formControlName="image" />
          </mat-form-field>
        </div>
        <div class="admin-page-form-field">
          <mat-form-field class="field" appearance="outline">
            <mat-label>Kategoria</mat-label>
            <mat-select formControlName="category">
              <mat-option
                *ngFor="let category of (categories | async)"
                [value]="category._id"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="admin-page-form-field">
          <mat-form-field class="field" appearance="outline">
            <mat-label>Producent</mat-label>
            <mat-select formControlName="producer">
              <mat-option
                *ngFor="let producer of (producers | async)"
                [value]="producer._id"
              >
                {{ producer.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <button mat-raised-button color="primary" type="submit">
            Dodaj / zaktualizuj produkt
          </button>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-lg-4">
      <h3 class="admin-page-title">Dane techniczne</h3>
      <div class="alert alert-warning" role="alert" *ngIf="!productForm.value._id">
        <i class="material-icons">error</i>
        Zapisz produkt, aby móc edytować atrybuty.
      </div>
      <app-admin-product-form-attributes [productId]="productForm.value._id" [productAttributes]="product.attributes" *ngIf="productForm.value._id"></app-admin-product-form-attributes>
    </div>
  </div>
</div>
</div>
