.tests {
  max-width: 1440px;
  margin: 0 auto 50px;
  .title {
    font: 900 28px/1.6 var(--fontPrimary);
    padding: 0 30px 0 0;
    margin: 0;
    color: var(--textColor);
  }
  .list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 0 0 30px 0;
  }
  .search {
    flex: 1;
    .field {
      width: 100%;
      max-width: 320px;
    }
  }
  .item {
    cursor: pointer;
    color: var(--textColor);
    &:hover {
      color: var(--colorPrimary);
      img {
        transform: translateY(-50%) scale(1.05);
      }
    }
  }
  .cover {
    margin: 0 0 15px;
    height: 200px;
    border-radius: 3px;
    overflow: hidden;
    img {
      transition: 0.3s;
      display: block;
      border-radius: 3px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .name {
    font: 500 16px/1.6 var(--fontPrimary);
  }
}
