<header class="header">
  <div class="wrapper">
    <div class="logo"><a routerLink="/">Logo</a></div>
    <ul class="nav">
      <li class="item">
        <a href="#" (click)="toggleCat($event)">
          Kategorie
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
      </li>
      <li class="item">
        <a href="#">
          Kanały
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
      </li>
      <li class="item">
        <a routerLink="/login" *ngIf="!user">Login</a>
        <a routerLink="/login" *ngIf="user">
          Zalogowany jako {{ displayName() }}
        </a>
      </li>
      <li class="item">
        <a routerLink="/admin" *ngIf="user">Admin</a>
      </li>
    </ul>
    <div class="search">
      <mat-form-field class="field" appearance="outline">
        <mat-label>Wyszukaj produkt lub test</mat-label>
        <input
                matInput
                [(ngModel)]="query"
                type="email"
                (keyup)="search()"
                class="input"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="categories-box" [ngClass]="{ visible: showCategories }">
    <app-nav-categories-list></app-nav-categories-list>
  </div>
</header>
