@import '../styles/mixins';

.header {
  background: var(--colorPrimary);
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
    @include breakpoint(tablet_small) {
      align-items: center;
      height: 75px;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 7fr 4fr;
    }
  }
  .logo {
    color: #fff;
    padding: 15px;
    font: bold 20px/1.6 var(--fontPrimary);
    margin: 0 50px 0 0;
    a {
      color: #fff;
    }
  }
  .nav {
    display: none;
    padding: 0;
    margin: 0;
    @include breakpoint(tablet_small) {
      display: flex;
    }
  }
  .item {
    padding: 0 10px;
    a {
      font: 400 16px/22px var(--fontPrimary);
      padding: 0 10px;
      display: block;
      color: #fff;
      opacity: 0.7;
      .material-icons {
        vertical-align: top;
        line-height: 22px;
      }
    }
  }
  .categories-box {
    position: relative;
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;
    background: var(--backgroundDarkenColor);
    &.visible {
      max-height: calc(100vh - 75px);
    }
  }

}
::ng-deep {
  .search {
    padding: 10px 0;
    .field {
      width: 100%;
    }
    .mat-form-field-wrapper {
      margin: 0;
      padding: 0;
    }
  }
}
