<header class="header">

    <div class="wrapper">
        <div class="logo">
            <a routerLink="/">Logo</a>
        </div>
        <ul class="nav">
            <li class="item">
                <a href="#">
                    Kategorie
                    <mat-icon>arrow_drop_down</mat-icon>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    Kanały
                    <mat-icon>arrow_drop_down</mat-icon>
                </a>
            </li>
        </ul>
    </div>
</header>
