@import '../../shared/styles/mixins';

.featured-products {
  background: var(--colorPrimary);
  margin: 0 0 30px;
  @include breakpoint(tablet_small) {
    margin: 0 0 50px;
  }
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 0 0;
    @include breakpoint(tablet_small) {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
  .hero {
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    @include breakpoint(tablet_small) {
      height: 480px;
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: var(--colorPrimary);
      opacity: 0;
      transition: 0.3s;
    }
    &:hover {
      &:after {
        opacity: 0.3;
      }
    }
  }
  .hero-name {
    color: #fff;
    font: 900 24px/1.6 var(--fontPrimary);
    letter-spacing: 1px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-shadow: 1px 1px 1px #000;
    @include breakpoint(tablet_small) {
      bottom: 30px;
      left: 30px;
      right: 30px;
      font: 900 40px/1.6 var(--fontPrimary);
    }
  }
  .hero-test-count {
    display: none;
    @include breakpoint(tablet_small) {
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      color: var(--textColor);
      font: 400 12px/1.2 var(--fontPrimary);
      bottom: 30px;
      right: 30px;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: block;
      text-align: center;
      text-shadow: 1px 1px 1px #000;
    }
    .position {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: block;
    }
    .count {
      font-weight: 900;
      font-size: 18px;
      display: block;
    }
  }
  .hero-producer,
  .small-producer {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    padding: 5px;
    background: var(--colorPrimary);
    border-radius: 50%;
    @include breakpoint(tablet_small) {
      top: 30px;
      left: 30px;
      width: 50px;
      height: 50px;
    }
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 75%;
      margin: 0 auto;
      filter: brightness(0) invert(1);
    }
  }
  .hero-category,
  .small-category {
    position: absolute;
    top: 10px;
    left: 55px;
    color: #fff;
    text-transform: uppercase;
    font: 600 12px/35px var(--fontPrimary);
    @include breakpoint(tablet_small) {
      font: 600 16px/50px var(--fontPrimary);
      top: 30px;
      left: 90px;
      letter-spacing: 1px;
    }
  }
  .small-name {
    color: #fff;
    position: absolute;
    letter-spacing: 1px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    font: 900 18px/1.6 var(--fontPrimary);
    text-shadow: 1px 1px 1px #000;
    @include breakpoint(tablet_small) {
      left: 30px;
      right: 30px;
      bottom: 30px;
      font: 900 24px/1.6 var(--fontPrimary);
    }
  }
  .small-item {
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    height: 200px;
    @include breakpoint(tablet_small) {
      height: 50%;
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: var(--colorPrimary);
      opacity: 0;
      transition: 0.3s;
    }
    &:hover {
      &:after {
        opacity: 0.3;
      }
    }
  }
  .small-test-count {
    display: none;
    @include breakpoint(tablet_small) {
      display: block;
      position: absolute;
      bottom: 30px;
      right: 30px;
      background: rgba(255, 255, 255, 0.5);
      color: var(--textColor);
      font: 400 11px/1.2 var(--fontPrimary);
      border-radius: 50%;
      width: 60px;
      height: 60px;
      text-align: center;
      text-shadow: 1px 1px 1px #000;
    }
    .position {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: block;
    }
    .count {
      font-weight: 900;
      font-size: 18px;
      display: block;
    }
  }
}
