<section class="producers">
  <div class="container">
    <h1 class="title">Producenci</h1>
    <ul class="list">
      <li
        class="item"
        *ngFor="let producer of producers"
        [routerLink]="['/producer', producer._id]"
      >
        <article class="producer">
          <figure class="cover" *ngIf="producer.image">
            <img [src]="producer.image" [alt]="producer.name" />
          </figure>
          <h2 class="name">{{ producer.name }}</h2>
          <p class="producer-count">{{ producer['count'] }} produktów</p>
        </article>
      </li>
    </ul>
  </div>
</section>
