.admin-channel-info {
  background: #fff;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 30px;
  padding: 30px;
  .header {
    display: flex;
    align-items: center;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    overflow: hidden;
  }
  .name {
    flex: 1;
    padding: 0 0 0 20px;
    font: 500 16px/20px var(--fontPrimary);
    a {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      .material-icons {
        font-size: 20px;
      }
    }
  }
  .content {
    margin: 20px 0 0;
    font: 300 13px/1.6 var(--fontPrimary);
  }
}
